{% extends "base_admin.html" %}
{% load i18n %}

{% load static %}
{% block title %}
Order list
{% endblock %}

{% block content %}

<h2 class="mt-4 mb-4">Orders</h2>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Total Price</th>
      <th>Order Date</th>
      <th>Payment Status</th>
      <th>Delivery Status</th>
      <th>Payment Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>{{ order.id }}</td>
      <td>{{ order.user.username }}</td>
      <td>{{ order.total_price }}</td>
      <td>{{ order.order_date }}</td>
      <td>{{ order.payment_status }}</td>
      <td>{{ order.delivery_status }}</td>
      <td>{{ order.payment_type }}</td>
      <td>
        <a href="{% url 'edit_order' order.id %}" class="btn btn-primary">Edit</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock %}